requests
pycryptodome
pystyle
colorama
auto_py_to_exe
pyinstaller
wmi
fade
gevent>=25.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
